*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    display: none;
}

.desktop{
    width: 1200px;
    height: 100px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tablet{
    width: 900px;
    height: 100px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-content: center;
}

.android{
    width: 500px;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lista{
    background-color: brown;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto{
    width: 200px;
    height: 250px;
    margin: 40px 5px;

    box-shadow: 5px 5px 5px 5px rgb(145, 145,);
    border-radius: 4px;
    background-color: white;
}
/*fim dos containers*/
/* medidas referencia bootstrap*/
.android p{
    display: none;
}

.tablet p{
    display: none;
}

.desktop p{
    display: inline;
}

/* medium divices (tablet, 900px)*/

@media (max-width: 768px){
    .android p{
        display: none;
    }

    .tablet p{
        display: inline;
    }

    .desktop p{
        display: none;
    }
}
/* small devices (android, 5px)*/

@media (max-width: 567px){
    .android p{
        display: inline;
    }

    .tablet p{
        display: none;
    }

    .desktop p{
        display: none;
    }
}
